* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.h1 {
  color: #303b59;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0 45px 40px;
}

.container {
  display: flex;
}

.content {
  border-radius: 32px;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  padding: 38px 55px 55px 55px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

html {
  height: 100%;
}

